<html>
<head><title>Multiplecontroller</title>
<script src ="angular.min.js"></script>
<script>
var app=angular.module('myApp',[]);
app.controller("first",function($scope, $rootScope){

$scope.login=true;
$rootScope.home=false;
$scope.getsvalue=function(){
$scope.login=false;
$rootScope.home=true;

$rootScope.display="username:"+$scope.name;
}
}).controller("second",function($scope){
});

</script>
</head>

<body ng-app="myApp">
<div ng-controller="first" ng-show="login">
<p>usename:<input type="text" name="name" ng-model="name"></p>
<p>password:<input type="password" name "password" ng-model="password"></p>
<button ng-click="getsvalue();">submit </button>
</div>
<div ng-controller="second" ng-show="home">
{{display}}
</div>

</body>
</html>

